<link rel="stylesheet" href="home.component.css">
<body>
    <nav id="menu">
        <div class="logo">
            <a href="#"><img src="../assets/logo/logo4.png" alt=""></a>
        </div>
        <input type="checkbox" id="toggle">
        <label for="toggle" class="icon-bars">
            <div class="icons-bars-line"></div>
            <div class="icons-bars-line"></div>
            <div class="icons-bars-line"></div>
        </label>
        <ul class="list">
            <li><a href="#welcome">Home</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
    
    <div id="discover" class="discover-section">
        <h1>DISCOVER SYNBIO CATALYST</h1>
        <h2>Helping researchers achieve greatness.</h2>
    </div>
    <div id="welcome" class="welcome-section">
        <div class="welcome-section-header">
            <h1>Welcome to Synbio CATaLyST</h1>
            <h2><span>C</span>omputational <span>A</span>nalysis <span>T</span>ools for <span>L</span>ife <span>S</span>ystems & <span>T</span>echnologies</h2>
        </div>
        <div class="welcome-section-content">
            <h2>What is all this about?</h2>
            <p>Synbio CATaLyST is an innovative startup dedicated to develop software tools focused on automating and accelerating processes, by performing simulations, analyzing data and providing customized services to research groups and biotech companies, thereby supporting the advancement of biosciences.</p>
    
            <p>At Synbio CATaLyST, we understand the importance of having the right tools, adapting their needs to those of researchers, and providing the necessary support so that these researchers have the best available technologies, saving time and maximizing their results.</p>
    
            <h2>How this idea started?</h2>
            <p>Synbio CATaLyST was born as a promising idea by students at the Faculty of Sciences and the Higher Technical School of Computer Engineering at the University of Málaga. This was in response to the students' observations regarding the limited availability of quality software tools, the poor quality of certain graphical interfaces, and the researchers' need for easy-to-use software to analyze data quickly and consistently. </p>
            <p>Synbio CATaLyST seeks to become a benchmark for technological solutions for all companies and research groups seeking to increase their performance in the biosciences field. </p>
    
        </div>
    </div>

    <div id="highlight" class="highlighted-section">
        <div class="highlighted-section-content">
            <div class="higlighted-section-main-text">
                <h1>
                    Empowering researchers with custom solutions.
                </h1>
            </div>
            <div class="highlighted-section-subtext">
                <h2>
                    Enabling research teams and companies alike to achieve improved performance through tailored synthetic biology tools.
                </h2>
            </div>
            <div class="higlighted-section-foot-text">
                <h3>
                    Synbio CATaLyST – The catalyst your next biosciences breakthrough needs.
                </h3>
            </div>
        </div>
    </div>

    <div id="team" class="team-section">
        <div class="team-section-header">
            <h3>Team</h3>
            <div class="team-section-members">
                <div class="team-member">
                    <div class="team-member-photo">
                        <img src="../assets/img/Foto_Juan-Antonio-de-la-Cruz-Bellido.jpeg" alt="">
                    </div>
                    <div class="team-member-title">
                        <h4>Juan Antonio de la Cruz Bellido</h4>
                        <h5>Founder & CEO</h5>
                    </div>
                    <div class="team-member-description">
                        <p>
                            Biology student at Universidad de Málaga, with great interest for and some experience in synthetic biology, bioinformatics (within the genomic and protein engineering fields) as well as bioentrepreneurship, focused on team leadership and achieving advancements on the research world.
                        </p>
                    </div>
                </div>
                <div class="team-member">
                    <div class="team-member-photo">
                        <img src="../assets/img/Foto_Nina-Souto-Blanco.jpg" alt="">
                    </div>
                    <div class="team-member-title">
                        <h4>Nina Souto Blanco</h4>
                        <h5>Co-founder</h5>
                    </div>
                    <div class="team-member-description">
                        <p> 
                            Biochemistry student at Universidad de Málaga. Passioned for biomedicine and the study of human diseases, I focus my formation in the use of bioinformatic tools to impulse research, optimize clinical diagnosis and contribute to improve the health and quality of life of people.
                        </p>
                    </div>
                </div>
                <div class="team-member">
                    <div class="team-member-photo">
                        <img src="../assets/img/Foto_Miguel-Leonardo-Padilla-Romo.jpeg" alt="">
                    </div>
                    <div class="team-member-title">
                        <h4>Miguel Padilla</h4>
                        <h5>Co-founder</h5>
                    </div>
                    <div class="team-member-description">
                        <p>
                            Health Engineering student at Universidad de Málaga, specialized in bioinformatics and interested in web development. I began my career developing a customized genomic data exploration tool to support researchers in their work. I am passionate about helping scientists achieve meaningful breakthroughs.
                        </p>
                    </div>
                </div>
                <div class="team-member">
                    <div class="team-member-photo">
                        <img src="../assets/img/Foto_Sofia-Zafirova.jpg" alt="">
                    </div>
                    <div class="team-member-title">
                        <h4>Sofía Zafirova</h4>
                        <h5>Co-founder</h5>
                    </div>
                    <div class="team-member-description">
                        <p>
                            Biology student at universidad de Málaga, passioned about the field of diagnosis and research of the human body. My main interest is focused on making known and explaining the fundamental use of modern-day bioinformatics in facilitating the work of people belonging to the scientific sector.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="contact-section">
        <div class="contact-section-content">
            <div class="contact-section-header">
                <h1>Contact Us</h1>
                <h2>Have you got any enquiries or want to know more about how our work can benefit you? Feel free to contact us.</h2>
            </div>
            <div class="contact-form">
                <div class="contact-form-subject">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" placeholder="Enter your subject">    
                </div>
                <div class="contact-form-name">
                    <label for="name">Your Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name">    
                </div>
                <div class="contact-form-email">
                    <label for="email">Your Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email">    
                </div>
                <div class="contact-form-message">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="5" placeholder="Type your message"></textarea>    
                </div>
                <div class="contact-form-submit">
                    <button type="submit">Send Message</button>
                </div>    
            </div>
        </div>
        <div class="contact-section-image">
            <img src="https://www.lqgroup.org.uk/-/media/project/london-and-quadrant/lqgroup/miscellaneous/contacting-lq.jpg">
        </div>
    </div>
    <footer id="footer" class="footer-section">
        <div class="footer-section-copyright">
            &copy; {{ currentYear }} Synbio CATaLyST. All rights reserved.
        </div>
    </footer>
</body>
