* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

h1, h2, h3, p {
    color: var(--primary-color);
    text-align: center;
    margin: 20px 0;
}

h1 { margin-top: 200px; }
h3 {
    color: var(--primary-color);
    margin-top: 50px;
}

p {
    color: var(--light-color);
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 15px;
    border-radius: 10px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 100px;
    padding: 20px;
}

.responsive-image {
    width: 100%;
    height: auto;
}

nav {
    position: fixed;
    z-index: 10;
    top: 0; left: 0; right: 0;
    padding: 0 5%;
    max-height: 100px;
    background-color: rgba(249, 249, 249, 0.8);
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
    /* Transición de opacidad y blur para los elementos dentro de la Navbar */
    nav .list a,
    nav .logo img,
    nav .icon-bars {
        transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out; /* Transición para opacidad y blur */
        opacity: 1; /* Opacidad por defecto */
    }

    /* Cuando la Navbar está oculta (visibility: hidden), aplicar blur y reducir opacidad */
    nav[style*="visibility: hidden"] .list a,
    nav[style*="visibility: hidden"] .logo img,
    nav[style*="visibility: hidden"] .icon-bars {
        opacity: 0; /* Reducir opacidad */
        filter: blur(5px); /* Aplicar blur */
    }


    .logo {
        img {
            margin-top: 15px;
            max-width: 250px;
        }
    }

    .list {
        display: flex;
        list-style: none;

        li { margin-left: 20px; }

        a {
            text-transform: uppercase;
            color: var(--dark-color);
            font-size: 16px;
            font-weight: bold;
            padding: 15px;
            display: block;

        }
    }

    #welcome-id{
        border-bottom: 4px solid #fff;
        transition: ease-in-out 0.2s;
    }
    
    #welcome-id:hover{
        border-bottom: 4px solid var(--primary-color);
        margin-top: -10px;
        transition: ease-in-out 0.4s; 
        color: var(--primary-color);
    }

    #project-id{
        border-bottom: 4px solid #fff;
        transition: ease-in-out 0.2s;
    }
    
    #project-id:hover{
        border-bottom: 4px solid var(--primary-color);
        margin-top: -10px;
        transition: ease-in-out 0.4s; 
        color: var(--primary-color);
    }

    #team-id{
        border-bottom: 4px solid #fff;
        transition: ease-in-out 0.2s;
    }
    
    #team-id:hover{
        border-bottom: 4px solid var(--primary-color);
        margin-top: -10px;
        transition: ease-in-out 0.4s; 
        color: var(--primary-color);
    }

    #contact-id{
        border-bottom: 4px solid #fff;
        transition: ease-in-out 0.2s;
    }
    
    #contact-id:hover{
        border-bottom: 4px solid var(--primary-color);
        margin-top: -10px;
        transition: ease-in-out 0.4s; 
        color: var(--primary-color);
    }

    .icon-bars {
        display: none;
        cursor: pointer;

        .icons-bars-line {
            width: 30px;
            height: 5px;
            background-color: var(--light-color);
            margin: 5px;
            border-radius: 3px;
            transition: all 0.3s ease-in-out;
        }
    }
}

@media (max-width: 768px) {
    nav {
        .list {
            position: fixed;
            top: 100px;
            left: 0; right: 0;
            background-color: var(--primary-color);
            flex-direction: column;
            align-items: center;
            height: 0;
            overflow: hidden;
            transition: height 0.3s ease-in-out;

            li { margin: 10px 0; }
        }

        .icon-bars { display: block; }
    }

    #toggle:checked ~ .list {
        height: calc(100vh - 100px);
    }
}

#discover {
    background-image: url("https://igemmunich.mwn.de/wp-content/uploads/2023/04/igem-logo-white.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: calc(-100vw + 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1s ease-in-out;
    .hide-discover-btn:checked {
        #discover {
            visibility: hidden;
            height: 0;
        }
    }
    h1,h2 {
        transform: translateY(-7rem);
    }

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 8rem;
        display: inline-flex;
        align-items: flex-end;

        img {
            height: 2em; 
            vertical-align: baseline;
            margin-left: -60px;
            transform: translateY(0.28em); 
        }
    }
    h2 {
        color: var(--dark-color);
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        font-style: italic;
        span {
            color: var(--primary-color);
        }
    }
}

 #welcome{
    margin-top: 100px;
    text-align: center;
    img {
        margin-top: 2rem;
        margin-bottom: -3rem;
        vertical-align: baseline;
    }
    h2 { 
        font-size: 2rem;
    }
    p { 
        font-size: 1.7rem;
    }
    .welcome-section-header {
        h2 {
            font-family: 'Oswald', sans-serif;
        }
    }
    .welcome-section-content {
        background-image: linear-gradient(var(--light-color),#fff,var(--light-color)),
        url("https://assets.weforum.org/article/image/m2lGQJCKGba91rmkyTgSfAU8-KgaGZbj1k8BsM0WczE.jpg");
        background-size: cover;
        background-position: center;
        margin-top: 70px;
    }
}

#idea-born-title{
    margin-top: 70px;
}
#highlight {
  background-color: #fff;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  padding: 0px 2rem;
  width: 100vw;
  margin-left: calc(-50vw + 50%);

  .highlighted-section-content {
    max-width: 1700px;
    margin: 0 auto;

    .highlighted-section-main-text {
      h1 {
        margin-left: 1rem;
        font-size: 4rem;
        padding-top: 2rem;
        text-align: left;
      }
    }

    .highlighted-section-subtext {
      width: 75%;
      margin-left: auto;
      margin-right: 2rem;

      h2 {
        font-size: 2.5rem;
        text-align: right;
      }
    }

    .highlighted-section-foot-text {
      h3 {
        font-size: 2rem;
        margin-right: 2rem;
        text-align: right;
        padding-bottom: 1rem;
        align-items: flex-end;

        img {
          height: 3em;
          vertical-align: baseline;
          transform: translateY(0.85em);
          margin-right: -2.5rem;
        }
      }
    }
  }

    @media screen and (max-width: 768px) {
        .highlighted-section-content {
            padding: 0 1rem;

            .highlighted-section-main-text {
                h1 {
                    font-size: 2rem;
                    text-align: center;
                    margin-left: 0;
                }
            }

            .highlighted-section-subtext {
                width: 100%;
                margin: 1rem auto;
                h2 {
                    font-size: 1.5rem;
                    text-align: center;
                }
            }

            .highlighted-section-foot-text {
                h3 {
                    font-size: 1.2rem;
                    text-align: center;
                    margin-right: 0;

                    img {
                    height: 2em;
                    transform: translateY(0.5em);
                    margin-right: -1.5rem;
                    }
                }
            }
        }
    }
}
    

#team {
    min-height: 100vh;
    padding: 5% 2%;
    margin-bottom: 5%;

    .team-section-header {
        text-align: center;
        margin-bottom: 3%;

        h3 {
            font-family: 'Oswald', sans-serif;
            font-size: clamp(2rem, 5vw, 3.5rem); /* Escala entre 2rem y 3.5rem según el ancho de la pantalla */
            margin-bottom: 2%;
            color: var(--primary-color);
        }
    }

    .team-section-members {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 columnas fijas */
        gap: 2%; /* Espaciado */
        padding: 0 1%;
        max-width: 90vw; 
        margin: 0 auto; 

        .team-member {
            background: #fff;
            border-radius: 1vw; 
            box-shadow: 0 0.4vw 1vw rgba(0,0,0,0.1); 
            padding: 3%;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: translateY(-1vw); 
                box-shadow: 0 0.8vw 1.6vw rgba(0,0,0,0.15);
                .team-member-description p, .team-member-title h5  {
                    color: var(--primary-color);
                    transition: ease-in-out 0.3s;
                }
            }

            .team-member-photo img {
                width: 100%;
                max-width: 18vw; /* Ajustado para 5 columnas (menor ancho por miembro) */
                height: auto; 
                max-height: 400px; 
                object-fit: cover;
                border: solid var(--light-color);
                border-radius: 10%;
                margin-bottom: 5%; /* Margen relativo */
            }

            .team-member-title {
                h4{
                    font-size: clamp(0.9rem, 2vw, 1.5rem);
                    font-weight: 600;
                    color: var(--primary-color);
                    margin-bottom: 2%;
                }

                h5{
                    font-size: clamp(0.7rem, 1.5vw, 1rem);;
                    font-weight: 600;
                    color: var(--primary-color);
                    margin-bottom: 2%;
                }
                
            }

            .team-member-description p {
                border: none;
                background-color: #fff;
                border-radius: 20pt;
                font-size: 1.1rem;
                color: #555;
                line-height: 1.4;
                padding: 10px;
            }


        }
    }
}

#contact {
    background: var(--primary-color);
    display: flex;
    height: 100vh;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);


    .contact-section-content {
        flex: 1;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .contact-section-header {
            text-align: left;
            margin-bottom: 20px;

            h1 {
                color: var(--light-color);
                font-family: 'Oswald', sans-serif;
                font-size: 3rem;
            }

            h2 {
                color: var(--light-color);
                font-family: var(--font-alt);
                font-size: 1.8rem;
                margin-top: 10px;
            }
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            label {
                font-family: var(--font-alt);
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 5px;
                display: block;
                color: var(--light-color);
            }

            input, textarea {
                width: 100%;
                padding: 12px;
                font-family: 'Times New Roman', Times, serif;
                font-size: 1.2rem;
                border: 1px solid #ccc;
                border-radius: 6px;
                background: #f9f9f9;
                transition: border 0.3s ease;

                &:focus {
                    border-color: var(--primary-color);
                    outline: none;
                    background: #fff;
                }
            }

            button {
                background: var(--light-color);
                color: var(--dark-color);
                padding: 12px;
                font-family: 'Oswald', sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 10px;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                transition: background 0.3s ease;

                &:hover {
                    color: var(--primary-color);
                    background: #fff;
                    transition: ease-in-out 0.2s;
                }
            }
        }
    }

    .contact-section-image {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            border: solid #fff;
            border-radius: 100px;
            width: 95%;
            height: 70%;
            object-fit: cover;
        }
    }
}

#footer {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.2rem;
    margin-left: calc(-50vw + 50%);
    padding: 1.5rem 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    .footer-section-copyright {
        text-align: left;
        font-family: var(--font-alt);
    }
    .footer-section-logo {
        img {
            height: 1.5em;
            transform: translateY(0.3em);
        }
    }
}