<link rel="stylesheet" href="home.component.css">
<body>
    <nav id="menu">
        <div class="logo">
            CATaLyST
        </div>
        <input type="checkbox" id="toggle">
        <label for="toggle" class="icon-bars">
            <div class="icons-bars-line"></div>
            <div class="icons-bars-line"></div>
            <div class="icons-bars-line"></div>
        </label>
        <ul class="list">
            <li><a href="home.component.html">Home</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div style="height: 2000px;">
        <h1>Welcome to CATaLyST</h1>
        <h2>What is all this about?</h2>
        <p>CATaLyST is an innovative startup dedicated to developing software tools focused on automating and accelerating processes, performing simulations, analyzing data, and providing customized services to research groups and biotech companies, thereby supporting the advancement of biosciences.</p>

        <p> At CATaLyST, we understand the importance of having the right tools, adapting their needs to those of researchers, and providing the necessary support so that these researchers have the best available technologies, saving time and maximizing their results.</p>

        <h2>How this idea started?</h2>
        <p>CATaLyST was born as a promising idea by students at the Faculty of Sciences and the Higher Technical School of Computer Science at the University of Malaga. This was in response to the students' observations regarding the limited availability of quality software tools, the poor quality of certain graphical interfaces, and the researchers' need for easy-to-use software to analyze data quickly and consistently. </p>
        <p>CATaLyST seeks to become a benchmark for technological solutions for all companies and research groups seeking to increase their performance in the biosciences field. </p>
    </div>
    <script src="home.component.ts"></script>
</body>
