<link rel="stylesheet" href="home.component.css">
<body>
    <nav id="menu">
        <div class="logo">
            CATaLyST
        </div>
        <input type="checkbox" id="toggle">
        <label for="toggle" class="icon-bars">
            <div class="icons-bars-line"></div>
            <div class="icons-bars-line"></div>
            <div class="icons-bars-line"></div>
        </label>
        <ul class="list">
            <li><a href="home.component.html">Home</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div style="height: 2000px;">
        <h1>Welcome to iGem Startup</h1>
        <h2>Our mission is to create a new way to solve problems</h2>
        <h3>What is all this about?</h3>
        <p>Info space</p>

        <p> </p>
        <h3>How this idea started?</h3>
        <p>Info space</p>
    </div>
    <script src="jscript.js"></script>
</body>
