:root {   /* Type {color-attribute}: var(--primary-color) to use them in any componet's style */
    --primary-color: #1c7d99;
    --secondary-color: #46d9a4;
    --dark-color: #110539;
    --light-color: #c7f9e7;
}