@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;600&display=swap');

:root {   /* Type {color-attribute}: var(--primary-color) to use them in any componet's style */
    --primary-color: #3d8ad0;
    --secondary-color: #000;
    --dark-color: #000;
    --light-color: #d3ecff;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: var(--light-color);
}